
<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>SHYFTX</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon login-icon" aria-label="Example icon-button with login icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  <div class="flex align-content-center">
    @if(imageUrl() != null) {
      <img src="{{imageUrl()}}"
           alt="user-avatar"
           class="border-round-3xl avatar"
           [ngClass]="avatarSize()">
    } @else {
      <div class="flex align-items-center justify-content-center unknow-user"
      [ngClass]="avatarSize()">
<!--        <fa-icon [icon]="'user'" class="text-dark"></fa-icon>-->
      </div>
    }
  </div>

</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
<!--     <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">-->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>

        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item routerLink="/dashboard">Orders</a>
        <a mat-list-item routerLink="/invoice">Invoices</a>
<!--      For badges in invoice and notifications -->
<!--      <div matBadge="6" matBadgeOverlap="true" class="demo-section">-->
        <a mat-list-item routerLink="/contract">Contracts</a>
        <a mat-list-item routerLink="/c02">CO2 calculator</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

