
<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/assets/logo.png" alt="Logo" class="logo">
  <span>SHYFTX</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon login-icon" aria-label="Example icon-button with login icon" (click)="login()">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
<!--     <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">-->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <mat-nav-list>



        <a mat-list-item routerLink="/home" *ngIf="userRole === 'admin'">Home</a>

<!--      For badges in invoice and notifications -->
<!--      <div matBadge="6" matBadgeOverlap="true" class="demo-section">-->

        <a mat-list-item routerLink="/farmer" *ngIf="userRole === 'admin' || userRole ==='farmer'  ">Create Order</a>
      <a mat-list-item routerLink="/dashboard" *ngIf="userRole === 'admin' || userRole ==='trucker' || userRole ==='farmer'  ">Orders</a>
      <a mat-list-item routerLink="/invoice" *ngIf="userRole === 'admin' || userRole ==='trucker' || userRole ==='farmer' " >Invoices</a>
      <a mat-list-item routerLink="/contract" *ngIf="userRole === 'admin' || userRole ==='trucker' || userRole ==='farmer' ">Contracts</a>
        <a mat-list-item routerLink="/farmer/trucks?options" *ngIf="userRole === 'admin' ">Truck Overview</a>
      <a mat-list-item routerLink="/c02" *ngIf="userRole === 'admin' || userRole ==='trucker'  ">Statistics</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

