
<mat-toolbar>
  <button mat-icon-button (click)="sidenav?.toggle()" *ngIf="isAuthenticated &&userRole !=='none'" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="/assets/ShyftX.png" alt="Logo" class="logo">
  <span>SHYFTX</span>
  <span class="example-spacer"></span>
<!--  <button mat-icon-button class="example-icon login-icon" aria-label="Example icon-button with login icon" (click)="login()">
    <mat-icon>account_circle</mat-icon>
  </button>-->
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="login()" *ngIf="!isAuthenticated">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button mat-menu-item (click)="signup()" *ngIf="!isAuthenticated">
      <mat-icon>person_add</mat-icon>
      <span>Signup</span>
    </button>
    <!--<button mat-menu-item (click)="signup()" *ngIf="!isAuthenticated">
      <mat-icon>person_add</mat-icon>
      <span>Signup</span>
    </button>-->
    <button mat-menu-item (click)="accountSetting()" *ngIf="isAuthenticated">
<!--      <mat-icon></mat-icon>-->
      <span>Signed in as :<br> {{username}} </span>
    </button>
    <button mat-menu-item (click)="logout()" *ngIf="isAuthenticated">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>


</mat-toolbar>
<mat-sidenav-container class="example-container"  autosize>
<!--     <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">-->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (mouseenter)="mouseenter()" *ngIf="isAuthenticated &&userRole !=='none'" (mouseleave)="mouseleave()">
    <mat-nav-list>



        <a mat-list-item routerLink="/home" *ngIf="userRole === 'admin' ">Home</a>

<!--      For badges in invoice and notifications -->
<!--      <div matBadge="6" matBadgeOverlap="true" class="demo-section">-->

        <a mat-list-item routerLink="/farmer" *ngIf="userRole === 'admin' || userRole ==='shipper'  ">Create Order</a>
      <a mat-list-item routerLink="/dashboard" *ngIf="userRole === 'admin' || userRole ==='carrier' || userRole ==='shipper'  ">Orders</a>
      <a mat-list-item routerLink="/invoice" *ngIf="userRole === 'admin' || userRole ==='carrier' || userRole ==='shipper' " >Invoices</a>
      <a mat-list-item routerLink="/contract" *ngIf="userRole === 'admin' || userRole ==='carrier' || userRole ==='shipper' ">Contracts</a>
      <a mat-list-item routerLink="/farmer/trucks?options" *ngIf="userRole === 'admin' || userRole ==='carrier' ">Truck Overview</a>
      <a mat-list-item routerLink="/account" *ngIf="userRole === 'admin' ">User account</a>
      <a mat-list-item routerLink="/c02" *ngIf="userRole === 'admin' || userRole ==='carrier'  ">Statistics</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

