:host {
  display: block;
  background-color: #cdd7e4;
  /* padding: 20px; */
  min-height: 100vh;
}

/* General Stepper Styles */
mat-horizontal-stepper {
  background-color: #cdd7e4;
  padding: 20px;
  border-radius: 10px;
}

.step-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #cdd7e4;
  padding: 20px;
  border-radius: 10px;
}

.address-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.recipient-section, .goods-section, .comments-section, .sender-section {
  background-color: #f7f9fc;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #dcdde1;
}

.recipient-section h3, .goods-section h3 {
  color: #6c757d;
}

.form-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #6c757d;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-color: #6c757d;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-color: #6c757d;
}

.mat-form-field-label {
  color: #6c757d !important;
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  color: #6c757d;
}

.predictions-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.predictions-list li {
  padding: 10px;
  cursor: pointer;
}

.predictions-list li:hover {
  background-color: #f0f0f0;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button.mat-raised-button {
  background-color: #007bff;
  color: #fff;
}

button.mat-raised-button:hover {
  background-color: #0056b3;
}

.truck-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  justify-content: center;
}

/* mat-card {
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
} */

/* mat-card:hover {
  transform: scale(1.05);
} */

mat-card.selected {
  background-color: #d1e7dd;
  border: 2px solid #0f5132;
}

.mat-step-label {
  color: #007bff;
}

.content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.payment-panel {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
}

.half-width {
  flex: 1;
}

.three-quarters-width {
  flex: 3;
}

.quarter-width {
  flex: 1;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.trip-details-grid {
  display: flex;
  width: 100%;
  height: 300px;
}

.trip-details-grid-left {
  width: 50%;
}
.trip-details-grid-right {
  width: 50%;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #9C27B0;
  color: #fff;
}

::ng-deep .mat-stepper-horizontal-line {
  background-color: #2196f3;
  color: #3b82f6;
}


  /*.mat-horizontal-stepper-header {*/
  /*  &+.mat-stepper-horizontal-line:nth-child(#{$index}) {*/
  /*    height: 2px;*/
  /*    background-image: linear-gradient(to right, #00b495, #00aeea);*/
  /*  }*/
  /*}*/



/* Batched order card styles */
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 966px; */
  /* height: 140vh; */
  /* margin: 0; */
}

.batched-order-card {
  display: flex;
  width: 964px;
  height: 265px;
  background-color: white;
  border-radius: 8px;
}
.left {
  width: 25%;
}
.right {
  width: 75%;
}

.left-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 10px; */
}

.left-card-top {
  flex: 8;
}

.left-card-bottom {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.right-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.right-card-top {
  margin-top: 20px;
  margin-right: 40px;
  display: flex;
  height: 50%;
}

.right-card-bottom {
  margin-bottom: 20px;
  margin-right: 40px;
  display: flex;
}

.image-placeholder {
  width: 151px;
  height: 193px;
  background-color: #cdd7e4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  /* margin-left: 10px; */
}

.image-placeholder img {
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}
.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}
.refrigerated {
  display: inline-flex;
  align-items: center;
  background-color: #e8f0f5;
  color: #4c77af;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 12px;
  margin-bottom: 8px;
}

.vehicle-info {
  width: 63%;
}

.order-info {
  background-color: #f9f0ff;
  border-radius: 4px;
  padding: 8px;
  margin-top: 8px;
  height: 50%;
}
.order-title {
  font-weight: bold;
  color: #9c27b0;
  margin-bottom: 4px;
}
.order-details {
  font-size: 12px;
  color: #666;
}

.sustainability-info {
  width: 30%;
}

.spacer {
  width: 33%;
}

.price-info {
  margin-top: 15px;
  width: 37%;
}

.sustainability {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 10px;
  margin-right: 6px;
}

.sustainability.sustainable { color: #4caf50; }
.sustainability.acceptable { color: #2196f3; }
.sustainability.concerning { color: #ff9800; }
.sustainability.severe { color: #f44336; }

.sustainability mat-icon {
  margin-left: 8px;
}

.sustainability-bar {
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 28px;
}

.sustainability-bar-filled {
  height: 100%;
  border-radius: 5px;
}

.sustainability-bar-filled.sustainable {
  background-color: #4caf50;
}

.sustainability-bar-filled.acceptable {
  background-color: #2196f3;
}

.sustainability-bar-filled.concerning {
  background-color: #ff9800;
}

.sustainability-bar-filled.severe {
  background-color: #f44336;
}

.price-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.price {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.select-btn {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.co2 {
  margin-left:  auto;
}
/* Batched order card styles */

/* Single order card styles */
.single-order-card {
  display: flex;
  width: 463px;
  height: 265px;
  background-color: white;
  border-radius: 8px;
}

.so-left {
  width: 40%;
}

.so-right {
  width: 60%;
}

.so-vehicle-info {
  width: 100%;
}

.so-right-card-top {
  margin-top: 20px;
  margin-right: 40px;
  display: flex;
  height: 35%;
}

.so-right-card-middle {
  /* margin-bottom: 20px; */
  margin-right: 40px;
  display: flex;
  height: 26%;
}

.so-sustainability-info {
  width: 84%;
}

.so-right-card-bottom {
  margin-bottom: 20px;
  margin-right: 40px;
  display: flex;
  height: 26%;
}

.so-price-info {
  /* margin-top: 15px; */
  width: 100%;
}
/* Single order card styles */
