<div class="full-page">

<div class="main">

<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
       order #3378421
      </mat-panel-title>
      <mat-panel-description>
        Trip invoice
        <mat-icon>payments</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.billdu.com%2Finvoice-template%2Fpdf-invoice-template%2F&psig=AOvVaw2gNgzgXlizkmVy7oEVT6l_&ust=1719674044706000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjT9JjL_oYDFQAAAAAdAAAAABAJ" download>
        Download invoice
      </a>
    </mat-action-row>


  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        order #6685252
      </mat-panel-title>
      <mat-panel-description>
        Insurance invoice
        <mat-icon>health_and_safety</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.billdu.com%2Finvoice-template%2Fpdf-invoice-template%2F&psig=AOvVaw2gNgzgXlizkmVy7oEVT6l_&ust=1719674044706000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjT9JjL_oYDFQAAAAAdAAAAABAJ" download>

        Download invoice
      </a>
    </mat-action-row>


  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        order #5532809
      </mat-panel-title>
      <mat-panel-description>
        Trip invoice
        <mat-icon>payments</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
      <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.billdu.com%2Finvoice-template%2Fpdf-invoice-template%2F&psig=AOvVaw2gNgzgXlizkmVy7oEVT6l_&ust=1719674044706000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCLjT9JjL_oYDFQAAAAAdAAAAABAJ" download>
<!--        <mat-icon>download</mat-icon>Download invoice-->
        Download invoice
      </a>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>
</div>
</div>
