<div class="dashboard">
  <h2>Order Requests</h2>
  <ul class="order-list">
    <li *ngFor="let order of orders">
      <div class="page-container">
        <div class="order-card">
          <div class="order-container">
            <div class="order-details">
              <p><strong>From: </strong>{{ order.source }}</p>
              <p><strong>To: </strong>{{ order.recipientStreet }}, {{ order.recipientCity }} ,{{order.recipientZipCode}}</p>
              <p><strong>Goods: </strong>{{ order.typeOfGoods }}</p>
              <p><strong>Capacity: </strong>{{ order.capacity }}</p>
              <p><strong>Pickup: </strong> 24th July</p>
              <p><strong>Comment: </strong> {{order.comments}}</p>
            </div>
            <div class="order-map">
                              <span><iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d614130.7550036538!
                              2d11.010790168754019!3d53.039267174708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x47a851066263e54d%3A0x7ca5f7d164746556!2sSiegmunds%20Hof%2C%2010555%20Berlin!3m2!1d52.515729!2d13.3358029!4m5!1s0x47b18efec9b6a027%3A0x1f8fb91a27e1be57!2sHafenCity%2C%20Hamburg!3m2!1d53.539535799999996!2d10.0051291!5e0!3m2!1sen!2sde!4v1721029088000!5m2!1sen!2sde"
                                            width="350" height="400" style="border:0;"  allowfullscreen="false" loading="eager" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </span>

            </div>
          </div>
          <div class="order-actions">
            <p class="order-earning">Price <strong>€250.00</strong></p>
            <div>
              Status:
              <p *ngIf="order.status =='accepted'" [style.color]="'green'">
                <span class="icon">&#10004;</span> Accepted
              </p>
              <p *ngIf="order.status !='accepted'" [style.color]="'gray'">

                <span class="icon">&#9888;</span> Pending
              </p>


<!--              <button class="details-button">DETAILS</button>-->
<!--              <button class="accept-button" (click)="orderAccepted(order)">ACCEPT</button>-->
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

