<div class="dashboard">
  <h2>Order Requests</h2>
  <ul class="order-list">
    <li *ngFor="let order of orders">
      <div class="page-container">
        <div class="order-card">
          <div class="order-container">
              <div class="order-details">
                  <p><strong>From:</strong>{{ order.source }}</p>
                  <p><strong>To:</strong>{{ order.destination }}</p>
                  <p><strong>Goods:</strong>{{ order.typeOfGood }}</p>
                  <p><strong>Pickup:</strong> 25th July</p>
              </div>
              <div class="order-map">
                  <span class="map-icon">📍</span>
              </div>
          </div>
          <div class="order-actions">
              <p class="order-earning">Earning <strong>€220.00</strong></p>
              <div>
                  <button class="details-button">DETAILS</button>
                  <button class="accept-button">ACCEPT</button>
              </div>
          </div>
        </div>
      </div>
      <!-- <div class="order-summary">
        <span>Order #{{ order?.id? order.id: "test" }}</span>
        <span>{{ order?.estimatedPrice ? order.estimatedPrice : "1234 test" }} EUR</span>
        <button class="toggle-btn" (click)="toggleOrderDetails(order, $event)">
          <mat-icon>{{ order.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
      </div>
      <div class="order-details" *ngIf="order.expanded">
        <p><strong>Farmer Information:</strong> {{ order?.farmer?.firstname ? order.farmer.firstname : "test" }} {{ order?.farmer?.firstname ? order.farmer.lastname : "test"  }}</p>
        <p><strong>Source:</strong> {{ order.source }}</p>
        <p><strong>Destination:</strong> {{ order.destination }}</p>
        <p><strong>Estimated Price:</strong> {{ order.estimatedPrice }} EUR</p>
        <p><strong>Capacity:</strong> {{ order.capacity }} kg</p>
        <p><strong>Type of Good:</strong> {{ order.typeOfGood }}</p>
        <p><strong>Comment:</strong> {{ order.comments }}</p>
        <label for="price">Adjust Price:</label>
        <input type="number" id="price" [(ngModel)]="order.adjustedPrice">
        <button class="accept-btn" (click)="acceptOrder(order)">Accept</button>
        <button class="decline-btn" (click)="declineOrder(order)">Decline</button>
      </div> -->
    </li>
  </ul>
</div>