<div class="dashboard">
  <h2>Order Requests</h2>
  <ul class="order-list">
    <li *ngFor="let order of orders">
      <div class="page-container">
        <div class="order-card">
          <div class="order-container">
              <div class="order-details">
                  <p><strong>From: </strong>{{ order.source }}</p>
                  <p><strong>To: </strong>{{ order.recipientStreet }}</p>
                  <p><strong>Goods: </strong>{{ order.typeOfGoods }}</p>
                  <p><strong>Capacity: </strong>{{ order.capacity }}</p>
                  <p><strong>Pickup: </strong> 24th July</p>
              </div>
              <div class="order-map">
<!--                <iframe width="316" height="277" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=316&amp;height=277&amp;hl=en&amp;q=%20Berlin+()&amp;t=&amp;z=10&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=ffddcc36936f4c3881ae09203ec5fdcfa1fd2378'></script>-->
                <span><iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d614130.7550036538!2d11.010790168754019!3d53.039267174708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x47a851066263e54d%3A0x7ca5f7d164746556!2sSiegmunds%20Hof%2C%2010555%20Berlin!3m2!1d52.515729!2d13.3358029!4m5!1s0x47b18efec9b6a027%3A0x1f8fb91a27e1be57!2sHafenCity%2C%20Hamburg!3m2!1d53.539535799999996!2d10.0051291!5e0!3m2!1sen!2sde!4v1721029088000!5m2!1sen!2sde"
                        width="350" height="400" style="border:0;"  allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </span>

              </div>
          </div>
          <div class="order-actions">
              <p class="order-earning">Earning <strong>€250.00</strong></p>
              <div>
                  <button class="details-button">DETAILS</button>
                  <button class="accept-button" (click)="orderAccepted(order)">ACCEPT</button>
              </div>
          </div>
        </div>
      </div>
      <!-- <div class="order-summary">
        <span>Order #{{ order?.id? order.id: "test" }}</span>
        <span>{{ order?.estimatedPrice ? order.estimatedPrice : "1234 test" }} EUR</span>
        <button class="toggle-btn" (click)="toggleOrderDetails(order, $event)">
          <mat-icon>{{ order.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
        </button>
      </div>
      <div class="order-details" *ngIf="order.expanded">
        <p><strong>Farmer Information:</strong> {{ order?.farmer?.firstname ? order.farmer.firstname : "test" }} {{ order?.farmer?.firstname ? order.farmer.lastname : "test"  }}</p>
        <p><strong>Source:</strong> {{ order.source }}</p>
        <p><strong>Destination:</strong> {{ order.destination }}</p>
        <p><strong>Estimated Price:</strong> {{ order.estimatedPrice }} EUR</p>
        <p><strong>Capacity:</strong> {{ order.capacity }} kg</p>
        <p><strong>Type of Good:</strong> {{ order.typeOfGood }}</p>
        <p><strong>Comment:</strong> {{ order.comments }}</p>
        <label for="price">Adjust Price:</label>
        <input type="number" id="price" [(ngModel)]="order.adjustedPrice">
        <button class="accept-btn" (click)="acceptOrder(order)">Accept</button>
        <button class="decline-btn" (click)="declineOrder(order)">Decline</button>
      </div> -->
    </li>
  </ul>
    <!-- Batch Order card design -->
    <div class="card-body">
      <div class="batched-order-card">
        <div class="left">
          <div class="left-card">
            <div class="left-card-top">
              <div class="image-placeholder">
                <img src="" alt="">
              </div>
            </div>
            <div class="left-card-bottom">
                <button mat-icon-button aria-label="Rate">
                  <mat-icon [ngStyle]="{'color':'black'}">star_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Rate">
                  <mat-icon [ngStyle]="{'color':'black'}">star_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Rate">
                  <mat-icon [ngStyle]="{'color':'black'}">star_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Rate">
                  <mat-icon [ngStyle]="{'color':'gray'}">star_border</mat-icon>
                </button>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="right-card">
            <div class="right-card-top">
              <div class="vehicle-info">
                <div class="title">Vehicle Type</div>
                <div class="subtitle">Price per kilometer: 1.5 EUR</div>
                <div class="refrigerated">Refrigerated</div>
              </div>
              <div class="order-info">
                <div class="order-title">Batched Order</div>
                <div class="order-details">Pickup: 24-28 July 2024 • 1 Destinations</div>
              </div>
            </div>
            <div class="right-card-bottom">
              <div class="sustainability-info">
                <div class="sustainability sustainable">
                  <span>Sustainable</span>
                  <img src="/assets/co2-green.png" alt="co2" class="co2">
                  <!-- <mat-icon>co2</mat-icon> -->
                </div>
                <div class="sustainability-bar">
                  <div class="sustainability-bar-filled sustainable"></div>
                </div>
              </div>
              <div class="spacer">
              </div>
              <div class="price-info">
                <div class="price-select">
                  <div class="price">Price €150</div>
                  <button class="select-btn">Select</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Batch Order card design -->
  
    <!-- Single Order card design -->
    <div class="card-body">
      <div class="single-order-card">
        <div class="so-left">
          <div class="left-card">
            <div class="left-card-top">
              <div class="image-placeholder">
                <img src="" alt="">
              </div>
            </div>
            <div class="left-card-bottom">
                <button mat-icon-button aria-label="Rate">
                  <mat-icon [ngStyle]="{'color':'black'}">star_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Rate">
                  <mat-icon [ngStyle]="{'color':'black'}">star_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Rate">
                  <mat-icon [ngStyle]="{'color':'black'}">star_border</mat-icon>
                </button>
                <button mat-icon-button aria-label="Rate">
                  <mat-icon [ngStyle]="{'color':'gray'}">star_border</mat-icon>
                </button>
            </div>
          </div>
        </div>
        <div class="so-right">
          <div class="right-card">
            <div class="so-right-card-top">
              <div class="so-vehicle-info">
                <div class="title">Vehicle Type</div>
                <div class="subtitle">Price per kilometer: 1.5 EUR</div>
                <div class="refrigerated">Not Refrigerated</div>
              </div>
            </div>
            <div class="so-right-card-middle">
              <div class="so-sustainability-info">
                <div class="sustainability acceptable">
                  <span>Acceptable</span>
                  <img src="/assets/co2-gray.png" alt="co2" class="co2">
                  <!-- <mat-icon>co2</mat-icon> -->
                </div>
                <div class="sustainability-bar">
                  <div class="sustainability-bar-filled acceptable"></div>
                </div>
              </div>
            </div>
            <div class="so-right-card-bottom">
              <div class="so-price-info">
                <div class="price-select">
                  <div class="price">Price €150</div>
                  <button class="select-btn">Select</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Order card design -->
</div>
