:host {
  display: block;
  background-color: #cdd7e4;
  padding: 20px;
  min-height: 110vh;
}

.dashboard {
  padding: 20px;
  /* background-color: #f4f4f4; */
}

.dashboard h2 {
  text-align: center;
  margin-bottom: 20px;
}

.order-list {
  list-style: none;
  padding: 0;
}

.order-list li {
  /* background-color: #fff; */
  margin-bottom: 10px;
  padding: 10px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  transition: all 0.3s ease;
}

.order-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.order-details {
  margin-top: 10px;
}

.order-details p {
  margin: 5px 0;
}

.order-details label {
  display: block;
  margin-top: 10px;
}

.order-details input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.accept-btn,
.decline-btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.accept-btn {
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
}

.decline-btn {
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 100%;
  /*max-width: 400px;*/
}
.order-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}
.order-details p {
  margin: 4px 0;
  font-size: 14px;
}
.order-details strong {
  font-weight: 600;
}
.order-map {
  /*position: relative;*/
  width: 50%;
  /*height: 96px;*/
  /*background-color: #f0f0f0;*/
  /*border-radius: 6px;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.map-icon {
  color: #3b82f6;
  font-size: 24px;
}
.order-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-earning {
  font-size: 14px;
  margin: 0;
}
.order-earning strong {
  color: #10b981;
  font-weight: 600;
}
.details-button, .accept-button {
  padding: 6px 16px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.details-button {
  color: #8b5cf6;
  border: 1px solid #8b5cf6;
  background-color: transparent;
  margin-right: 8px;
}
.accept-button {
  color: white;
  background-color: #3b82f6;
  border: none;
}
