.account-settings {
  /*max-width: 600px;*/
  margin: 0 auto;
  padding: 1rem;
  /*background-color: #cdd7e4;*/
}

.account-settings h2 {
  text-align: center;
}

.account-settings form {
  display: flex;
  flex-direction: column;
}

.account-settings form div {
  margin-bottom: 1rem;
}

.account-settings .buttons {
  text-align: center;
}

.account-settings .buttons button {
  margin: 0 0.5rem;
}

.account-settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.buttons {
  display: flex;
  gap: 10px;
}
