.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  color: red;
  margin-top: 10px;
}


mat-card {
  width: 400px;
  padding: 20px;
}

mat-card-title{
  margin: 10px;
}
