<div class="signup-container">



  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <mat-error *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-error *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
            Password is required
          </mat-error>
        </mat-form-field><br>
        <mat-radio-group formControlName="userType" class="user-type-group">
          <mat-radio-button value="carrier">Carrier</mat-radio-button>
          <mat-radio-button value="shipper">Shipper</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="signupForm.get('userType')?.invalid && signupForm.get('userType')?.touched">
          Please select a user type
        </mat-error>
       <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
